html, body, #root, .App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes glitter {
  0% {
    filter: invert(0%)
  }
  20% {
    filter: invert(100%)
  }
  50% {
    filter: invert(50%)
  }
  100% {
    filter: invert(0)
  }
}

.state-bar {
  padding: .5em 1em;
  font-size: 0.8em;
  flex: 0 0 0;
  border-bottom: .1em dashed black;
  box-shadow: #0000002f 0 .2em .2em;
  z-index: 1;
}

.state-bar .values {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.state-bar .values > .value {
  padding: .1em .5em;
  margin: .1em .5em;
  background-color: #eeeeee;
  border-radius: .2em;
  border: 1px solid #dddddd;
}

.panel {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.text-panel,
.option-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  overflow: auto;
}

.text-panel {
  padding: .5em;
  flex: 1;
}

.option-panel {
  padding: .5em 1em;
  flex-basis: 1;
  flex-shrink: 0;
  flex-grow: 0;
  height: 30%;
  overflow: auto;
  background-color: #282c34;
  box-shadow: #0000002f 0 -0.2em .2em;
  z-index: 1;
}

.text, .option {
  box-sizing: border-box;
  text-align: center;
  margin: .2em 0;
  padding: .2em 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text {
  text-align: start;
  width: 100%;
  word-break: break-all;
}

.text > .content {
  font-family: 'Times New Roman', Times, serif;
  padding: .2em .5em;
  border-radius: .2em;
  background-color: white;
  animation: .618s glitter;
}

.option {
  flex-shrink: 0;
  font-size: 1.2em;
  border-radius: 1em;
  border-width: 0;
  width: 80%;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
  background-color: white;
  transition: all 300ms;
  position: relative
}

.option:hover {
  transform: scale(1.05);
  background-color: #eeeeee;
  box-shadow: #000000 0 0.1em 0.1em;
  transition: all 300ms;
}

.option.skip-btn {
  background-color: #282c34;
  color: white;
  border-color: white;
  border-width: .1em;
}

.option > .subopt {
  color: #282c34;
  font-size: 0.8em;
  padding: 0 0.5em;
  border-left: #282c34 solid 1px;
}

.option > .option-side-text {
  height: 100%;
  font-size: 0.8em;
  color: gray;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.option > .option-side-text.left {
  left: .5em;
}

.option > .option-side-text.right {
  right: .5em;
}

.text.self {
  text-align: end;
  opacity: 0.5;
}

.text.good {
  color: green;
}

.text.bad {
  color: red;
}

.text.mutate {
  text-align: center;
  font-size: .8em;
  opacity: 0.5;
}

.text.system {
  text-align: center;
  border-top: rgb(204, 204, 204) solid 1px;
  border-bottom: rgb(204, 204, 204) solid 1px;
}

.no-break {
  word-break: unset;
  white-space: unset;
  word-wrap: none;
}

p {
  padding: .5em 0;
  margin: 0;
}